/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  padding: 0px 0px 0px 0px;
}
a {
  color: #00e;
}
a:hover {
  color: #06e;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
::selection {
  background-color: Transparent;
  color: #000;
}
html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
  height: 100%;
}
label {
  cursor: pointer;
}
#logo {
  position: absolute;
  top: 10px;
  left: 50%;
  text-indent: -10000px;
  margin-left: -150px;
  background-image: url("../img/logo-x300.png");
  width: 300px;
  height: 128px;
}
@media (max-width: 600px) {
  #logo {
    margin-left: -112px;
    background-image: url("../img/logo-x225.png");
    width: 225px;
    height: 96px;
  }
}
@media (max-width: 400px) {
  #logo {
    margin-left: -75px;
    background-image: url("../img/logo-x150.png");
    width: 150px;
    height: 64px;
  }
}
.navbar-fixed-top .header-sprite {
  display: inline-block;
  background: transparent url('../img/header-icons.png') no-repeat;
  text-indent: -10000px;
  width: 25px;
  height: 25px;
  background-size: 25px 173px;
}
.navbar-fixed-top .header-threebar {
  background-position: 0px 0px;
  padding-right: 80px;
}
.navbar-fixed-top .header-bookmark {
  /* note: currently unused - may be brought back */

  background-position: 0px -50px;
}
.navbar-fixed-top .header-info {
  background-position: 0px -100px;
}
.navbar-fixed-top .header-share {
  background-position: 0px -150px;
}
/* Looking for the homepage's bottom navbar? Try index.less */
.popover.social {
  width: 60px;
  border: 2px solid white;
  margin-left: -15px;
}
.popover.social .arrow {
  border-bottom-color: white;
  left: 80%;
}
.popover.social .popover-content {
  border-radius: 5px;
  background: black;
  padding: 0px;
}
.popover.social .popover-content .email,
.popover.social .popover-content .facebook,
.popover.social .popover-content .twitter {
  background: url("../img/social-buttons.png") no-repeat;
  width: 38px;
  height: 38px;
  display: block;
  text-indent: -10000px;
  padding: 10px;
}
.popover.social .popover-content .email {
  background-position: 10px 10px;
  margin-bottom: 10px;
}
.popover.social .popover-content .facebook {
  background-position: 10px -61px;
  margin-bottom: 10px;
}
.popover.social .popover-content .twitter {
  background-position: 10px -129px;
}
.popover {
  z-index: 10000;
}
.popover .popover-title {
  display: none;
}
.popover .popover-content div {
  font-weight: normal;
  font-size: small;
}
.popover .popover-content h3 {
  margin: 0px;
  padding: 0px;
  font-family: serif;
  line-height: 80%;
}
.navbar {
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#show_slideout_navigation {
  display: none;
}
#show_slideout_navigation:checked + #wrapper,
#show_slideout_navigation:checked + #wrapper .navbar {
  left: 300px;
}
#show_slideout_navigation:checked + #wrapper #slideout_navigation {
  left: 0px;
}
#wrapper {
  padding-top: 50px;
  position: relative;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#slideout_navigation {
  position: fixed;
  top: 0px;
  left: -300px;
  margin-right: -300px;
  width: 300px;
  min-height: 100%;
  z-index: 10000;
  background: #3d692a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#slideout_navigation a,
#slideout_navigation label {
  color: white;
  display: block;
}
#slideout_navigation a:hover {
  text-decoration: none;
}
#slideout_navigation ul.menu {
  background: #3eb4e4;
  color: white;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#slideout_navigation ul.menu li {
  border-top: solid 1px #2b80a3;
  border-bottom: solid 1px #7cc6e3;
  border-left: solid 1px #32728d;
  border-right: solid 1px #9ed9f1;
  background: url("../img/slideout-menu.png") no-repeat right 9px;
}
#slideout_navigation ul.menu li a {
  padding: 4px 0px 4px 30px;
}
#slideout_navigation ul.menu li a.booking {
  background: url("../img/slideout-menu.png") no-repeat 5px -95px;
}
#slideout_navigation ul.menu li a.offers {
  background: url("../img/slideout-menu.png") no-repeat 5px -145px;
}
#slideout_navigation ul.menu li:hover {
  background-color: #6bc5ea;
}
#slideout_navigation ul.menu li:first-child {
  padding: 0px;
  border-right: solid 1px #1d546b;
  background: none;
}
#slideout_navigation ul.menu li:first-child label {
  color: #b3e1f5;
  font-weight: bold;
  padding: 0px 0px 0px 7px;
  height: 48px;
  line-height: 55px;
  margin: 0px;
  font-size: inherit;
}
#slideout_navigation ul.walks {
  background: #60a342;
  color: white;
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: serif;
  font-size: 14px;
}
#slideout_navigation ul.walks li {
  border-top: solid 1px #40712d;
  border-bottom: solid 1px #94be82;
  border-right: solid 1px #90c5a0;
  background: url("../img/slideout-menu.png") no-repeat right bottom;
}
#slideout_navigation ul.walks li a {
  padding: 5px 0px 5px 7px;
}
#slideout_navigation ul.walks li:hover {
  background-color: #79bd5b;
}
#slideout_navigation ul.maps {
  color: white;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#slideout_navigation ul.maps li {
  background: url("../img/slideout-menu.png") no-repeat right -40px;
}
#slideout_navigation ul.maps li a {
  padding: 4px 0px 4px 30px;
  background: url("../img/slideout-menu.png") no-repeat 5px -195px;
}
#slideout_navigation ul.maps li:hover {
  background-color: #528d39;
}
@media (max-height: 400px) {
  #slideout_navigation {
    font-size: 8px;
  }
  #slideout_navigation ul.menu li:first-child label {
    display: none;
  }
  #slideout_navigation ul.menu,
  #slideout_navigation ul.walks,
  #slideout_navigation ul.maps {
    font-size: 10px;
  }
  #slideout_navigation ul.menu li,
  #slideout_navigation ul.walks li,
  #slideout_navigation ul.maps li {
    line-height: normal;
  }
  #slideout_navigation ul.menu li a,
  #slideout_navigation ul.walks li a,
  #slideout_navigation ul.maps li a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #slideout_navigation ul.menu li {
    background-position: right 4px;
  }
  #slideout_navigation ul.walks li {
    background-position: right -247px;
  }
  #slideout_navigation ul.maps li {
    background-position: right -47px;
  }
}
body.index #wrapper {
  color: #fff;
}
body.index #wrapper #carousel .slide1 {
  background: url("../img/Waikaremoana-NEW-home@2x.jpg") no-repeat center 0px;
  background-size: cover ;
}
body.index #wrapper #carousel .slide2 {
  background: url("../img/Kepler-NEW-home@2x.jpg") no-repeat center 0px;
  background-size: cover ;
}
body.index #wrapper #carousel .slide3 {
  background: url("../img/Abel-NEW-home@2x.jpg") no-repeat center 0px;
  background-size: cover ;
}
body.index #wrapper #carousel .slide4 {
  background: url("../img/Whanganui-Journey-home@2x.jpg") no-repeat center 0px;
  background-size: cover ;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner {
  padding-top: 0px;
  background: #427630;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner .container-fluid * {
  width: auto;
  text-align: center;
  float: none;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options {
  margin: 0px auto;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li {
  display: inline;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li a {
  display: inline-block;
  background: url("../img/homepage-buttons.png") no-repeat;
  background-size: 258px 44px;
  width: 100px;
  padding-top: 60px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li a:hover {
  text-decoration: none;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li a.maps {
  background-position: 30px 10px;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li a.offers {
  background-position: -80px 10px;
}
body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li a.booknow {
  background-position: -193px 10px;
}
body.index #wrapper #doc-sign {
  display: block;
  text-decoration: none;
  background: url("../img/homepage-sign.png");
  background-size: 100%;
  position: relative;
  top: -227px;
  width: 394px;
  height: 227px;
  margin: 0px auto -227px auto;
}
@media (max-width: 600px) {
  body.index #wrapper #doc-sign {
    position: relative;
    top: -172px;
    width: 299px;
    height: 172px;
    margin: 0px auto -172px auto;
  }
}
@media (max-height: 400px) {
  body.index #wrapper .navbar-fixed-bottom .navbar-inner {
    min-height: auto;
  }
  body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li a {
    background: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
/* map of new zealand */
body.maps #wrapper {
  padding-top: 150px;
  background: #79ccec;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #79ccec), color-stop(100%, #eaf6fc));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #79ccec 0%, #eaf6fc 100%);
  /* W3C */

}
body.maps #wrapper #new-zealand-map {
  position: relative;
  margin: 0px auto;
  width: 752px;
  height: 1056px;
  background: url("../img/new-zealand-map.png");
  background-size: 100%;
}
body.maps #wrapper #new-zealand-map .map-location {
  position: absolute;
  padding: 0px;
  margin: 0px;
  line-height: normal;
  text-align: center;
  color: black;
}
body.maps #wrapper #new-zealand-map h2.map-location {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 23px;
}
body.maps #wrapper #new-zealand-map a.map-location {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
body.maps #wrapper #new-zealand-map a.map-location:hover {
  text-decoration: none;
}
body.maps #wrapper #new-zealand-map .map-icon-bottom {
  padding-bottom: 60px;
}
body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
  padding-bottom: 55px;
}
body.maps #wrapper #new-zealand-map .map-icon-left {
  padding-left: 60px;
}
body.maps #wrapper #new-zealand-map .map-icon-right {
  padding-right: 60px;
}
body.maps #wrapper #new-zealand-map .map-icon-height {
  min-height: 50px;
  line-height: 50px;
}
body.maps #wrapper #new-zealand-map .map-icon-height2 {
  min-height: 40px;
  line-height: 70px;
}
body.maps #wrapper #new-zealand-map .map-icon-height3 {
  min-height: 50px;
  line-height: normal;
}
@media (max-width: 700px) {
  body.maps #wrapper {
    padding-top: 110px;
  }
  body.maps #wrapper #new-zealand-map {
    width: 496px;
    height: 697px;
  }
  body.maps #wrapper #new-zealand-map h2.map-location {
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
  }
  body.maps #wrapper #new-zealand-map a.map-location {
    font-size: 15px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom {
    padding-bottom: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
    padding-bottom: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-left {
    padding-left: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-right {
    padding-right: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height {
    min-height: 25px;
    line-height: 25px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height2 {
    min-height: 20px;
    line-height: 45px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height3 {
    min-height: 25px;
    line-height: normal;
  }
}
@media (max-width: 450px) {
  body.maps #wrapper {
    padding-top: 80px;
  }
  body.maps #wrapper #new-zealand-map {
    width: 376px;
    height: 528px;
  }
  body.maps #wrapper #new-zealand-map h2.map-location {
    font-size: 9px;
    line-height: 12px;
    font-weight: normal;
  }
  body.maps #wrapper #new-zealand-map a.map-location {
    font-size: 13px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom {
    padding-bottom: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
    padding-bottom: 27px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-left {
    padding-left: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-right {
    padding-right: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height {
    min-height: 25px;
    line-height: 25px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height2 {
    min-height: 20px;
    line-height: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height3 {
    min-height: 25px;
    line-height: normal;
  }
}
/* an individual map walk */
body.map #wrapper {
  background: url("../img/table.png");
}
body.map #weta {
  background: url(../img/weta_land.png);
  width: 255px;
  height: 393px;
  background-size: 100%;
  position: absolute;
  top: 100px;
  left: 0px;
  text-indent: -10000px;
}
body.map #weta:hover,
body.map #weta:active,
body.map #weta.active {
  background-image: url(../img/weta_twitch.png);
}
body.map #youarehere {
  display: none;
  position: absolute;
  width: 1px
        height:1px;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 100%;
}
body.map #youarehere.goodAccuracy {
  -webkit-box-shadow: 0 0 5px 25px rgba(0, 0, 255, 0.3);
}
body.map #youarehere.badAccuracy {
  -webkit-box-shadow: 0 0 5px 50px rgba(0, 0, 255, 0.3);
}
body.map #youarehere .dot {
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/youarehere.png) no-repeat center center;
  background-size: 100%;
}
body.map #youarehere .offmap {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  font-size: x-small;
  background: #666666;
  color: #fff;
  border: solid 1px #777777;
  border-radius: 3px;
  padding: 3px 8px;
}
body.map #no_gps {
  display: none;
  position: fixed;
  left: 10px;
  top: 60px;
  background: #666666;
  border: solid 2px #aaaaaa;
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
}
body.map #user_actions {
  display: block;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  min-width: 200px;
  max-width: 600px;
  background: #666666;
  border: solid 2px #aaaaaa;
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
}
body.map #user_actions.hidden {
  display: none;
}
body.map #no_camera_available {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background: #ffeeaa;
  padding: 10px;
  color: #806600;
  border: solid 2px #806600;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
body.map .location-icon {
  display: block;
  text-indent: -10000px;
  width: 40px;
  height: 40px;
  background-image: url(../img/missing-icon.png);
  background-size: 100%;
}
@media (min-width: 600px) {
  body.map .location-icon {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}
body.map .location-animal {
  background-image: url(../img/icon-animal_species.png);
}
body.map .location-attention {
  background-image: url(../img/icon-attention.png);
}
body.map .location-carpark {
  background-image: url(../img/icon-carpark.png);
}
body.map .location-hot_springs {
  background-image: url(../img/icon-hot_springs.png);
}
body.map .location-isite,
body.map .location-VisitorCentre {
  background-image: url(../img/icon-isite.png);
}
body.map .location-lodging,
body.map .location-Hut {
  background-image: url(../img/icon-lodging.png);
}
body.map .location-plane {
  background-image: url(../img/icon-plane.png);
}
body.map .location-plant_species {
  background-image: url(../img/icon-plant_species.png);
}
body.map .location-shelter,
body.map .location-Shelter {
  background-image: url(../img/icon-shelter.png);
}
body.map .location-tent,
body.map .location-Camping,
body.map .location-Campsite {
  background-image: url(../img/icon-tent.png);
}
body.map .location-toilets {
  background-image: url(../img/icon-toilets.png);
}
body.map .location-trailhead {
  background-image: url(../img/icon-trailhead.png);
}
body.map .location-viewpoints,
body.map .location-Feature {
  background-image: url(../img/icon-viewpoints.png);
}
body.map .location-volcano {
  background-image: url(../img/icon-volcano.png);
}
body.map .location-waterfall {
  background-image: url(../img/icon-waterfall.png);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}
/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.ir br {
  display: none;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
