/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  padding: 0px 0px 0px 0px;
}
a {
  color: #00e;
}
a:hover {
  color: #06e;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
::selection {
  background-color: Transparent;
  color: #000;
}
html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}
label {
  cursor: pointer;
}
/* Looking for the homepage's bottom navbar? Try index.less */
.navbar-fixed-top {
  z-index: 1000;
}
.navbar-fixed-top .header-sprite {
  display: inline-block;
  background: transparent url('../img/header-icons.png') no-repeat;
  text-indent: -10000px;
  width: 25px;
  height: 25px;
  background-size: 25px 173px;
}
.navbar-fixed-top .header-threebar {
  background-position: 0px 0px;
  padding-right: 10px;
}
.navbar-fixed-top .header-bookmark {
  /* note: currently unused - may be brought back */

  background-position: 0px -50px;
}
.navbar-fixed-top .header-info {
  background-position: 0px -100px;
}
.navbar-fixed-top .header-share {
  background-position: 0px -150px;
}
.navbar .nav {
  margin: 0px;
}
.popover.social {
  width: 60px;
  border: 2px solid white;
  margin-left: -15px;
}
.popover.social .arrow {
  border-bottom-color: white;
  left: 80%;
}
.popover.social .popover-content {
  border-radius: 5px;
  background: black;
  padding: 0px;
}
.popover.social .popover-content .email,
.popover.social .popover-content .facebook,
.popover.social .popover-content .twitter {
  background: url("../img/social-buttons.png") no-repeat;
  width: 38px;
  height: 38px;
  display: block;
  text-indent: -10000px;
  padding: 10px;
}
.popover.social .popover-content .email {
  background-position: 10px 10px;
  margin-bottom: 10px;
}
.popover.social .popover-content .facebook {
  background-position: 10px -61px;
  margin-bottom: 10px;
}
.popover.social .popover-content .twitter {
  background-position: 10px -129px;
}
#logo {
  position: absolute;
  top: 10px;
  left: 50%;
  text-indent: -10000px;
  margin-left: -150px;
  background-image: url("../img/logo-x300.png");
  width: 300px;
  height: 128px;
}
@media (max-width: 600px), (max-height: 500px) {
  #logo {
    margin-left: -112px;
    background-image: url("../img/logo-x225.png");
    width: 225px;
    height: 96px;
  }
}
@media (max-width: 400px), (max-height: 400px) {
  #logo {
    margin-left: -75px;
    background-image: url("../img/logo-x150.png");
    width: 150px;
    height: 64px;
  }
}
.popover {
  z-index: 10000;
}
.popover .popover-title {
  display: none;
}
.popover .popover-content div,
.popover .popover-content p {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
}
.popover .popover-content b.distance_away {
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}
.popover .popover-content b.distance_away.with-description {
  margin-bottom: 0.3em;
}
.popover .popover-content h3 {
  margin: 0px 0px 4px 0px;
  padding: 0px;
  font-family: serif;
  line-height: 90%;
  font-size: 17px;
}
.navbar {
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#show_slideout_navigation {
  display: none;
}
#show_slideout_navigation:checked + #wrapper,
#show_slideout_navigation:checked + #wrapper .navbar {
  left: 300px;
}
#show_slideout_navigation:checked + #wrapper #slideout_navigation {
  left: 0px;
}
#wrapper {
  padding-top: 50px;
  position: relative;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#slideout_navigation {
  position: fixed;
  top: 0px;
  left: -300px;
  margin-right: -300px;
  width: 300px;
  min-height: 100%;
  z-index: 10000;
  background: #3d692a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#slideout_navigation a,
#slideout_navigation label {
  color: white;
  display: block;
}
#slideout_navigation a:hover {
  text-decoration: none;
}
#slideout_navigation ul.menu {
  background: #3eb4e4;
  color: white;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#slideout_navigation ul.menu li {
  border-top: solid 1px #2b80a3;
  border-bottom: solid 1px #7cc6e3;
  border-left: solid 1px #32728d;
  border-right: solid 1px #9ed9f1;
  background: url("../img/slideout-menu.png") no-repeat right 9px;
}
#slideout_navigation ul.menu li a {
  padding: 4px 0px 4px 30px;
}
#slideout_navigation ul.menu li a.booking {
  background: url("../img/slideout-menu.png") no-repeat 5px -95px;
}
#slideout_navigation ul.menu li a.offers {
  background: url("../img/slideout-menu.png") no-repeat 5px -145px;
}
#slideout_navigation ul.menu li:hover {
  background-color: #6bc5ea;
}
#slideout_navigation ul.menu li:first-child {
  padding: 0px;
  border-right: solid 1px #1d546b;
  background: none;
}
#slideout_navigation ul.menu li:first-child label {
  color: #b3e1f5;
  font-weight: bold;
  padding: 0px 0px 0px 7px;
  height: 48px;
  line-height: 55px;
  margin: 0px;
  font-size: inherit;
}
#slideout_navigation ul.walks {
  background: #60a342;
  color: white;
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: serif;
  font-size: 14px;
}
#slideout_navigation ul.walks li {
  border-top: solid 1px #40712d;
  border-bottom: solid 1px #94be82;
  border-right: solid 1px #90c5a0;
  background: url("../img/slideout-menu.png") no-repeat right bottom;
}
#slideout_navigation ul.walks li a {
  padding: 5px 0px 5px 7px;
}
#slideout_navigation ul.walks li:hover {
  background-color: #79bd5b;
}
#slideout_navigation ul.maps {
  color: white;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#slideout_navigation ul.maps li {
  background: url("../img/slideout-menu.png") no-repeat right -40px;
}
#slideout_navigation ul.maps li a {
  padding: 4px 0px 4px 30px;
  background: url("../img/slideout-menu.png") no-repeat 5px -195px;
}
#slideout_navigation ul.maps li:hover {
  background-color: #528d39;
}
@media (max-height: 400px) {
  #slideout_navigation {
    font-size: 8px;
  }
  #slideout_navigation ul.menu li:first-child label {
    display: none;
  }
  #slideout_navigation ul.menu,
  #slideout_navigation ul.walks,
  #slideout_navigation ul.maps {
    font-size: 10px;
  }
  #slideout_navigation ul.menu li,
  #slideout_navigation ul.walks li,
  #slideout_navigation ul.maps li {
    line-height: normal;
  }
  #slideout_navigation ul.menu li a,
  #slideout_navigation ul.walks li a,
  #slideout_navigation ul.maps li a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #slideout_navigation ul.menu li {
    background-position: right 4px;
  }
  #slideout_navigation ul.walks li {
    background-position: right -247px;
  }
  #slideout_navigation ul.maps li {
    background-position: right -47px;
  }
}
.text-column1 {
  width: 70%;
  max-width: 570px;
  min-width: 250px;
  margin: 100px auto 0px auto;
  color: #333333;
}
.text-column1 h1 {
  color: #ac9420;
  font-weight: normal;
  font-family: serif;
}
.text-column1 h2 {
  color: #6c3400;
  font-weight: normal;
  font-family: serif;
}
.btn {
  display: inline-block;
  padding: 8px;
  border-radius: 7px;
  background-color: #15a5de;
  color: #ffffff;
  text-transform: uppercase;
  font-family: serif;
  font-size: 18px;
}
.btn:hover {
  text-decoration: none;
  background-color: #3abaec;
  color: white;
}
.btn.phone,
.btn.email,
.btn.vistorcenter,
.btn.bookonline {
  background-image: url("../img/content-buttons.png");
  background-size: 16px 166px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.btn.phone {
  background-position: 10px -140px;
}
.btn.email {
  background-position: 10px 13px;
  padding-left: 33px;
}
.btn.vistorcenter {
  background-position: 10px -40px;
}
.btn.bookonline {
  background-position: 10px -90px;
  padding-left: 33px;
}
@media (max-height: 300px) {
  .text-column1 {
    margin: 50px auto 0px auto;
  }
  .text-column1 .youtube iframe {
    width: 100%;
  }
}
.below-fold {
  background: #e5dfbd;
  padding-bottom: 50px;
}
.below-fold .text-column1 {
  margin-top: 20px;
  padding-top: 20px;
}
.walk .text-column1 h1 {
  background-repeat: no-repeat;
  background-size: 63px 91px;
  padding-top: 10px;
  padding-left: 80px;
  min-height: 91px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}
.walk .text-column1.tongariro-northern-circuit h1,
.walk .text-column1.abel-tasman-coast-track h1 {
  font-size: 27px;
}
.walk .text-column1.rakiura-track---stewart-island h1 {
  font-size: 26px;
}
.walk .text-column1 .info {
  padding-left: 80px;
  margin-top: -55px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
}
.walk .text-column1 .info span {
  display: inline-block;
}
.walk .text-column1 .info span.duration {
  margin-left: 50px;
}
.walk .text-column1 .youtube {
  text-align: center;
}
.walk .text-column1 .walk-detail-header {
  color: white;
  padding: 0.4em 0.5em;
  margin-bottom: 10px;
  font-size: 25px;
  -moz-box-shadow: 3px 3px 10px #8d8874;
  -webkit-box-shadow: 3px 3px 10px #8d8874;
  box-shadow: 3px 3px 10px #8d8874;
}
.walk .text-column1 .walk-detail-header span span {
  display: block;
  background-image: url("../img/walk-icons.png");
  background-position: right -90px;
  background-repeat: no-repeat;
  background-size: 40px 119px;
}
.walk .text-column1 .walk-detail-header.open span span {
  display: block;
  background-image: url("../img/walk-icons.png");
  background-repeat: no-repeat;
  background-position: right -41px;
  background-size: 40px 119px;
}
.walk .text-column1 .walk-detail-header.dont-miss {
  background: #ec9103;
  padding-left: 40px;
  background: #a96a00;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #a96a00 0%, #f0b14a 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #a96a00 0%, #f0b14a 100%);
  /* W3C */

}
.walk .text-column1 .walk-detail-header.dont-miss:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-top: -0.7em;
  margin-left: -50px;
  border-top: 1.5em solid transparent;
  border-left: 1.5em solid #e5dfbd;
  border-bottom: 1.5em solid transparent;
}
.walk .text-column1 .walk-detail-header.offers {
  background: #44762f;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #44762f 0%, #8abe74 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #44762f 0%, #8abe74 100%);
  /* W3C */

}
.walk .text-column1 .walk-detail-header.offers > span {
  display: block;
  padding-left: 50px;
  background-image: url("../img/walk-icons.png");
  background-repeat: no-repeat;
  background-position: left 5px;
  background-size: 40px 119px;
}
.walk .text-column1 .walk-detail-header.before-you-go {
  background: #999966;
  background: #706d4c;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #706d4c 0%, #b4b48e 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #706d4c 0%, #b4b48e 100%);
  /* W3C */

}
.walk .text-column1 .walk-detail-header.getting-there {
  background: #ccb200;
  background: #938000;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #938000 0%, #dac746 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #938000 0%, #dac746 100%);
  /* W3C */

}
.walk .text-column1 .walk-detail-header.where-to-stay {
  background: #3b93c5;
  background: #2a6a8e;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #2a6a8e 0%, #71b1d5 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #2a6a8e 0%, #71b1d5 100%);
  /* W3C */

}
.walk .text-column1 .walk-detail-header.on-the-track {
  background: #026a5a;
  background: #004c3f;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #004c3f 0%, #479387 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #004c3f 0%, #479387 100%);
  /* W3C */

}
.walk .text-column1 .walk-detail {
  display: none;
  background: white;
  padding: 0.5em 1em;
  margin-top: -10px;
  -moz-box-shadow: 3px 3px 10px #8d8874;
  -webkit-box-shadow: 3px 3px 10px #8d8874;
  box-shadow: 3px 3px 10px #8d8874;
}
.walk .text-column1.lake-waikaremoana h1 {
  background-image: url("../img/walks/lake-waikaremoana/national.gif");
}
.walk .text-column1.wellington h1 {
  background-image: url("../img/walks/wellington/national.gif");
}
.walk .text-column1.tongariro-northern-circuit h1 {
  background-image: url("../img/walks/tongariro-northern-circuit/national.gif");
}
.walk .text-column1.whanganui-journey h1 {
  background-image: url("../img/walks/whanganui-journey/national.gif");
}
.walk .text-column1.abel-tasman-coast-track h1 {
  background-image: url("../img/walks/abel-tasman-coast-track/national.gif");
}
.walk .text-column1.heaphy-track h1 {
  background-image: url("../img/walks/heaphy-track/national.gif");
}
.walk .text-column1.routeburn-track h1 {
  background-image: url("../img/walks/routeburn-track/national.gif");
}
.walk .text-column1.milford-track h1 {
  background-image: url("../img/walks/milford-track/national.gif");
}
.walk .text-column1.kepler-track h1 {
  background-image: url("../img/walks/kepler-track/national.gif");
}
.walk .text-column1.rakiura-track---stewart-island h1 {
  background-image: url("../img/walks/rakiura-track---stewart-island/national.gif");
}
body.find-an-adventure {
  background: #e5dfbd;
  color: #131009;
}
body.find-an-adventure h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ab9120;
}
body.find-an-adventure h2 {
  text-align: center;
  color: #010000;
  margin-top: 1em;
  font-size: large;
  font-weight: bold;
}
body.find-an-adventure .resetFinder {
  margin-top: 0.5em;
  display: inline-block;
  text-align: center;
}
body.find-an-adventure #warning-1-2-days {
  display: none;
}
body.find-an-adventure ol.chooser {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body.find-an-adventure ol.chooser li {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  position: relative;
}
body.find-an-adventure ol.chooser li span {
  position: absolute;
  left: -1px;
  top: .8em;
  z-index: 2;
  color: #9e988a;
  font-weight: bold;
}
body.find-an-adventure ol.chooser li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-top: -0.2em;
  margin-left: -5px;
  border-top: 1.8em solid transparent;
  border-left: 1.8em solid #e5dfbd;
  border-bottom: 1.8em solid transparent;
}
body.find-an-adventure ol.chooser li a {
  display: block;
  padding: 15px 10px 15px 35px;
  color: white;
  font-weight: bold;
  -moz-box-shadow: 3px 3px 10px #8d8874;
  -webkit-box-shadow: 3px 3px 10px #8d8874;
  box-shadow: 3px 3px 10px #8d8874;
  background-image: url("../img/find-an-adventure-icons.png");
  background-size: 60px 750px;
  background-repeat: no-repeat;
  text-decoration: none;
}
body.find-an-adventure ol.chooser li a:hover {
  text-decoration: none;
}
body.find-an-adventure ol.chooser li.where {
  background: #256f92;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #256f92 0%, #73b2d3 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #256f92 0%, #73b2d3 100%);
  /* W3C */

}
body.find-an-adventure ol.chooser li.where a {
  padding-left: 80px;
  background-position: 30px 5px;
}
body.find-an-adventure ol.chooser li.see {
  background: #747249;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #747249 0%, #b8b592 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #747249 0%, #b8b592 100%);
  /* W3C */

}
body.find-an-adventure ol.chooser li.see a {
  background-position: right -45px;
}
body.find-an-adventure ol.chooser li.time {
  background: #004e41;
  /* Old browsers */

  background: -webkit-linear-gradient(left, #004e41 0%, #4c918c 100%);
  /* Chrome10+,Safari5.1+ */

  background: linear-gradient(to right, #004e41 0%, #4c918c 100%);
  /* W3C */

}
body.find-an-adventure ol.chooser li.time a {
  padding-left: 80px;
  background-position: 30px -94px;
}
body.find-an-adventure #where.modal {
  width: 15em;
  margin-left: -7.5em;
}
body.find-an-adventure #see.modal {
  width: 15em;
  margin-left: -7.5em;
}
body.find-an-adventure #time.modal {
  width: 10em;
  margin-left: -5em;
}
body.find-an-adventure .modal {
  background: #ebe8d7;
  color: #131009;
  padding: 5px 0px;
  font-family: serif;
}
body.find-an-adventure .modal ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body.find-an-adventure .modal ol li {
  border-top: solid 2px #bebbaa;
  background-image: url("../img/find-an-adventure-icons.png");
  background-size: 60px 750px;
  background-repeat: no-repeat;
  background-position: 20px -184px;
}
body.find-an-adventure .modal ol li.active {
  background-position: 20px -285px;
}
body.find-an-adventure .modal ol li#where-northisland a {
  background-image: url("../img/find-an-adventure-icons.png");
  background-size: 60px 750px;
  background-repeat: no-repeat;
  background-position: 50px -400px;
  padding-left: 100px;
}
body.find-an-adventure .modal ol li#where-southisland a {
  background-image: url("../img/find-an-adventure-icons.png");
  background-size: 60px 750px;
  background-repeat: no-repeat;
  background-position: 50px -495px;
  padding-left: 100px;
}
body.find-an-adventure .modal ol li#where-surpriseme a {
  background-image: url("../img/find-an-adventure-icons.png");
  background-size: 60px 750px;
  background-repeat: no-repeat;
  background-position: 50px -590px;
  padding-left: 100px;
}
body.find-an-adventure .modal ol li a {
  display: block;
  padding: 15px 15px 15px 50px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
body.find-an-adventure .modal ol li a:hover {
  text-decoration: none;
}
body.find-an-adventure .modal ol li:first-child {
  border-top: none;
}
body.find-an-adventure #results {
  display: none;
}
body.find-an-adventure #results ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body.find-an-adventure #results ol li {
  margin: 0px 0px 6px 0px;
  padding: 0px;
  line-height: normal;
  background: #61a443;
  border-radius: 5px;
}
body.find-an-adventure #results ol li a {
  display: block;
  background: url("../img/find-an-adventure-icons.png");
  background-size: 60px 750px;
  background-repeat: no-repeat;
  background-position: right -683px;
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
body.find-an-adventure #results ol li a:hover {
  background-color: #78b15f;
  border-radius: 5px;
}
body.find-an-adventure #no-results {
  display: none;
}
/* For the index page */
body.index #wrapper {
  color: #fff;
}
body.index #wrapper #carousel .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0px;
}
body.index #wrapper #carousel .slide1 {
  background-image: url("../img/homepage-carousel-x1024-_default.jpg");
}
body.index #wrapper #carousel .slide2 {
  background-image: url("../img/homepage-carousel-x1024-abel-tasman-coast-track.jpg");
}
body.index #wrapper #carousel .slide3 {
  background-image: url("../img/homepage-carousel-x1024-heaphy-track.jpg");
}
body.index #wrapper #carousel .slide4 {
  background-image: url("../img/homepage-carousel-x1024-kepler-track.jpg");
}
body.index #wrapper #carousel .slide5 {
  background-image: url("../img/homepage-carousel-x1024-lake-waikaremoana.jpg");
}
body.index #wrapper #carousel .slide6 {
  background-image: url("../img/homepage-carousel-x1024-milford-track.jpg");
}
body.index #wrapper #carousel .slide7 {
  background-image: url("../img/homepage-carousel-x1024-rakiura-track---stewart-island.jpg");
}
body.index #wrapper #carousel .slide8 {
  background-image: url("../img/homepage-carousel-x1024-routeburn-track.jpg");
}
body.index #wrapper #carousel .slide9 {
  background-image: url("../img/homepage-carousel-x1024-tongariro-northern-circuit.jpg");
}
body.index #wrapper #carousel .slide10 {
  background-image: url("../img/homepage-carousel-x1024-whanganui-journey.jpg");
}
body.index #wrapper #carousel .carousel-control {
  display: none;
}
body.index #wrapper #carousel:after {
  /* Preload images to prevent flicker http://www.ajaxera.com/image-preloading-through-css3-caching/ */

  content: url("../img/homepage-carousel-x1024-_default.jpg") url("../img/homepage-carousel-x1024-abel-tasman-coast-track.jpg") url("../img/homepage-carousel-x1024-heaphy-track.jpg") url("../img/homepage-carousel-x1024-kepler-track.jpg") url("../img/homepage-carousel-x1024-lake-waikaremoana.jpg") url("../img/homepage-carousel-x1024-milford-track.jpg") url("../img/homepage-carousel-x1024-rakiura-track---stewart-island.jpg") url("../img/homepage-carousel-x1024-routeburn-track.jpg") url("../img/homepage-carousel-x1024-tongariro-northern-circuit.jpg") url("../img/homepage-carousel-x1024-whanganui-journey.jpg");
  display: none;
}
body.index #wrapper #doc-sign {
  display: block;
  text-decoration: none;
  background: url("../img/homepage-sign.png");
  background-size: 100%;
  position: relative;
  top: -227px;
  width: 394px;
  height: 227px;
  margin: 0px auto -227px auto;
}
body.index #wrapper #doc-sign label,
body.index #wrapper #doc-sign a {
  display: block;
  width: 100%;
  text-indent: 100%;
  /* To hide inner text don't use text-indent:-10000px see: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */

  white-space: nowrap;
  overflow: hidden;
}
body.index #wrapper #doc-sign .great-walks {
  height: 120px;
  margin-bottom: 0px;
}
body.index #wrapper #doc-sign .find-an-adventure {
  height: 80px;
}
@media (max-width: 600px), (max-height: 400px) {
  body.index #wrapper #doc-sign {
    position: relative;
    top: -172px;
    width: 299px;
    height: 172px;
    margin: 0px auto -172px auto;
  }
  body.index #wrapper #doc-sign .great-walks {
    height: 94px;
    margin-bottom: 0px;
  }
  body.index #wrapper #doc-sign .find-an-adventure {
    height: 60px;
  }
}
.navbar-fixed-bottom .navbar-inner {
  /* Also used on book.html and offers.html */

  padding-top: 0px;
  background: #427630;
}
.navbar-fixed-bottom .navbar-inner .container-fluid * {
  width: auto;
  text-align: center;
  float: none;
}
.navbar-fixed-bottom .navbar-inner ul.options {
  margin: 0px auto;
}
.navbar-fixed-bottom .navbar-inner ul.options li {
  display: inline;
}
.navbar-fixed-bottom .navbar-inner ul.options li a {
  display: inline-block;
  background: url("../img/homepage-buttons.png") no-repeat;
  background-size: 258px 44px;
  width: 100px;
  padding-top: 60px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
}
.navbar-fixed-bottom .navbar-inner ul.options li a:hover {
  text-decoration: none;
}
.navbar-fixed-bottom .navbar-inner ul.options li a.maps {
  background-position: 30px 10px;
}
.navbar-fixed-bottom .navbar-inner ul.options li a.offers {
  background-position: -80px 10px;
}
.navbar-fixed-bottom .navbar-inner ul.options li a.booknow {
  background-position: -193px 10px;
}
@media (max-width: 300px), (max-height: 400px) {
  body.index #wrapper .navbar-fixed-bottom .navbar-inner {
    min-height: auto;
  }
  body.index #wrapper .navbar-fixed-bottom .navbar-inner ul.options li a {
    background: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
body.maps {
  min-height: 100%;
  height: 100%;
}
body.maps #wrapper {
  padding-top: 150px;
  background: #79ccec;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #79ccec), color-stop(100%, #eaf6fc));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #79ccec 0%, #eaf6fc 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #79ccec 0%, #eaf6fc 100%);
  /* W3C */

  height: 100%;
  min-height: 100%;
}
body.maps #wrapper #new-zealand-map {
  position: relative;
  margin: 0px auto;
  width: 752px;
  height: 1056px;
  background: url("../img/new-zealand-map.png");
  background-size: 100%;
}
body.maps #wrapper #new-zealand-map .map-location {
  position: absolute;
  padding: 0px;
  margin: 0px;
  line-height: normal;
  text-align: center;
  color: black;
}
body.maps #wrapper #new-zealand-map h2.map-location {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 23px;
}
body.maps #wrapper #new-zealand-map h2.map-location a.secret-link {
  color: black;
}
body.maps #wrapper #new-zealand-map h2.map-location a.secret-link:hover {
  text-decoration: none;
}
body.maps #wrapper #new-zealand-map a.map-location {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
body.maps #wrapper #new-zealand-map a.map-location:hover {
  text-decoration: none;
}
body.maps #wrapper #new-zealand-map .map-icon-bottom {
  padding-bottom: 60px;
}
body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
  padding-bottom: 55px;
}
body.maps #wrapper #new-zealand-map .map-icon-left {
  padding-left: 60px;
}
body.maps #wrapper #new-zealand-map .map-icon-right {
  padding-right: 60px;
}
body.maps #wrapper #new-zealand-map .map-icon-height {
  min-height: 50px;
  line-height: 50px;
}
body.maps #wrapper #new-zealand-map .map-icon-height2 {
  min-height: 40px;
  line-height: 70px;
}
body.maps #wrapper #new-zealand-map .map-icon-height3 {
  min-height: 50px;
  line-height: normal;
}
@media (max-width: 800px), (max-height: 1000px) {
  body.maps #wrapper {
    padding-top: 140px;
  }
  body.maps #wrapper #new-zealand-map {
    width: 496px;
    height: 697px;
  }
  body.maps #wrapper #new-zealand-map h2.map-location {
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
  }
  body.maps #wrapper #new-zealand-map a.map-location {
    font-size: 15px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom {
    padding-bottom: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
    padding-bottom: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-left {
    padding-left: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-right {
    padding-right: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height {
    min-height: 25px;
    line-height: 25px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height2 {
    min-height: 20px;
    line-height: 45px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height3 {
    min-height: 25px;
    line-height: normal;
  }
}
@media (max-width: 500px), (max-height: 800px) {
  body.maps #wrapper {
    padding-top: 120px;
  }
  body.maps #wrapper #new-zealand-map {
    width: 376px;
    height: 528px;
  }
  body.maps #wrapper #new-zealand-map h2.map-location {
    font-size: 9px;
    line-height: 12px;
    font-weight: normal;
  }
  body.maps #wrapper #new-zealand-map a.map-location {
    font-size: 13px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom {
    padding-bottom: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
    padding-bottom: 27px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-left {
    padding-left: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-right {
    padding-right: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height {
    min-height: 25px;
    line-height: 25px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height2 {
    min-height: 20px;
    line-height: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height3 {
    min-height: 25px;
    line-height: normal;
  }
}
@media (max-width: 450px), (max-height: 500px) {
  body.maps #wrapper {
    padding-top: 80px;
  }
  body.maps #wrapper #new-zealand-map {
    width: 376px;
    height: 528px;
  }
  body.maps #wrapper #new-zealand-map h2.map-location {
    font-size: 9px;
    line-height: 12px;
    font-weight: normal;
  }
  body.maps #wrapper #new-zealand-map a.map-location {
    font-size: 13px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom {
    padding-bottom: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
    padding-bottom: 27px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-left {
    padding-left: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-right {
    padding-right: 30px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height {
    min-height: 25px;
    line-height: 25px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height2 {
    min-height: 20px;
    line-height: 40px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height3 {
    min-height: 25px;
    line-height: normal;
  }
}
@media (max-width: 400px), (max-height: 400px) {
  body.maps #wrapper {
    padding-top: 80px;
  }
  body.maps #wrapper #new-zealand-map {
    width: 251px;
    height: 352px;
  }
  body.maps #wrapper #new-zealand-map h2.map-location {
    font-size: 7px;
    line-height: 6px;
    font-weight: normal;
  }
  body.maps #wrapper #new-zealand-map a.map-location {
    font-size: 7px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom {
    padding-bottom: 20px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-bottom2 {
    padding-bottom: 20px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-left {
    padding-left: 20px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-right {
    padding-right: 20px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height {
    min-height: 12px;
    line-height: 12px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height2 {
    min-height: 20px;
    line-height: 25px;
  }
  body.maps #wrapper #new-zealand-map .map-icon-height3 {
    min-height: 12px;
    line-height: normal;
  }
}
body.map #wrapper {
  background: url("../img/table.png");
}
body.map #weta {
  background: url(../img/weta_land.png);
  width: 255px;
  height: 393px;
  background-size: 100%;
  position: absolute;
  top: 100px;
  left: 0px;
  text-indent: 100%;
  /* To hide inner text don't use text-indent:-10000px see: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */

  white-space: nowrap;
  overflow: hidden;
}
body.map #weta:hover,
body.map #weta:active,
body.map #weta.active {
  background-image: url(../img/weta_twitch.png);
}
body.map #map {
  border: solid 8px #201e1e;
}
body.map #youarehere {
  display: none;
  position: absolute;
  width: 1px
        height:1px;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 100%;
}
body.map #youarehere.goodAccuracy {
  -webkit-box-shadow: 0 0 5px 25px rgba(0, 0, 255, 0.3);
}
body.map #youarehere.badAccuracy {
  -webkit-box-shadow: 0 0 5px 50px rgba(0, 0, 255, 0.3);
}
body.map #youarehere .dot {
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/youarehere.png) no-repeat center center;
  background-size: 100%;
}
body.map #youarehere .offmap {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  font-size: x-small;
  background: #666666;
  color: #fff;
  border: solid 1px #777777;
  border-radius: 3px;
  padding: 3px 8px;
}
body.map #no_gps {
  display: none;
  position: fixed;
  left: 10px;
  top: 60px;
  background: #666666;
  border: solid 2px #aaaaaa;
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
}
body.map #user_actions {
  display: block;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  min-width: 200px;
  max-width: 600px;
  background: rgba(50, 50, 50, 0.9);
  border: solid 2px #aaaaaa;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
body.map #user_actions p {
  margin: 0px;
}
body.map #user_actions.hidden {
  display: none;
}
body.map #photo-preview {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  z-index: 10001;
  -webkit-box-shadow: 0 0 5px 10px #000;
}
body.map #camera_error {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background: #ffeeaa;
  padding: 10px;
  color: #806600;
  border: solid 2px #806600;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
body.map .location-icon {
  display: block;
  text-indent: 100%;
  /* To hide inner text don't use text-indent:-10000px see: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */

  white-space: nowrap;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-image: url(../img/missing-icon.png);
  background-size: 100%;
  border: solid 3px red;
}
@media (min-width: 600px) {
  body.map .location-icon {
    width: 30px;
    height: 30px;
    background-size: 100%;
  }
}
body.map .location-animal,
body.map .location-birdwatching {
  background-image: url(../img/icon-map-bird-or-animal-species.png);
  border: none;
}
body.map .location-alert {
  background-image: url(../img/icon-map-alert.png);
  border: none;
}
body.map .location-attention {
  background-image: url(../img/icon-map-attention.png);
  border: none;
}
body.map .location-carpark {
  background-image: url(../img/icon-map-carpark.png);
  border: none;
}
body.map .location-camphut {
  background-image: url(../img/icon-map-camp_hut.png);
  border: none;
}
body.map .location-campsite,
body.map .location-camping {
  background-image: url(../img/icon-map-camping.png);
  border: none;
}
body.map .location-hot_springs,
body.map .location-hotsprings {
  background-image: url(../img/icon-map-hotsprings.png);
  border: none;
}
body.map .location-swimming {
  background-image: url(../img/icon-map-swimming.png);
  border: none;
}
body.map .location-side-trip {
  background-image: url(../img/icon-map-side_trail.png);
  border: none;
}
body.map .location-isite,
body.map .location-visitorcentre,
body.map .location-VisitorCentre {
  background-image: url(../img/icon-map-information.png);
  border: none;
}
body.map .location-hut,
body.map .location-Hut,
body.map .location-Huts,
body.map .location-huts {
  background-image: url(../img/icon-map-huts.png);
  border: none;
}
body.map .location-shelter,
body.map .location-Shelter {
  background-image: url(../img/icon-map-shelter.png);
  border: none;
}
body.map .location-plane {
  background-image: url(../img/icon-map-plane.png);
  border: none;
}
body.map .location-plant_species {
  background-image: url(../img/icon-map-plantspecies.png);
  border: none;
}
body.map .location-tent,
body.map .location-Camping,
body.map .location-Campsite {
  background-image: url(../img/icon-map-camping.png);
  border: none;
}
body.map .location-toilets {
  background-image: url(../img/icon-map-toilets.png);
  border: none;
}
body.map .location-trailhead {
  background-image: url(../img/icon-map-trailhead.png);
  border: none;
}
body.map .location-viewpoints,
body.map .location-generic-poi,
body.map .location-scenic-lookout,
body.map .location-historic-site,
body.map .location-historical-site,
body.map .location-lake,
body.map .location-feature,
body.map .location-Feature {
  background-image: url(../img/icon-map-viewpoints.png);
  border: none;
}
body.map .location-lake-river-stream-beach,
body.map .location-natural-feature {
  background-image: url(../img/icon-map-generic_nature.png);
  border: none;
}
body.map .location-volcano {
  background-image: url(../img/icon-map-volcano.png);
  border: none;
}
body.map .location-waterfall {
  background-image: url(../img/icon-map-waterfall.png);
  border: none;
}
body.map .location-user-photo {
  background-image: url(../img/icon-map-generic_nature.png);
  border: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}
/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.ir br {
  display: none;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
